.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex: 0 0 56px; /* prevent shrinking or growing in header flex layout */
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.5s;
}

.toggle-switch__text {
  color: #00000080;
  position: absolute;
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: #fff;
}
