.card {
  width: 323px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.card__name {
  position: static;
  margin: 0;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Cabinet", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
}

.card__like-btn {
  position: static;
  cursor: pointer;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 8%;
}
