.sidebar__user-container {
  margin-left: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.sidebar__avatar {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  flex-grow: 1;
  white-space: nowrap;
}

.sidebar__edit-button {
  margin: 24px 0 8px 8px;
  border-style: none;
  background: none;
  font-family: "Cabinet", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  flex: 0 0 auto;
  white-space: nowrap;
}

.sidebar__logout-button {
  margin: 0 8px;
  border-style: none;
  background: none;
  font-family: "Cabinet", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  flex: 0 0 auto;
}
